body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  body {
    font-family: 'Cabin', sans-serif;
  }
  
  .cart-width {
    width: 50px; 
  }
  
  @media (min-width: 576px) {
    .cart-width {
      width: 150px; 
    }
  }
  
  @media (min-width: 992px) {
    .cart-width {
      width: 300px; 
    }
  }